.Entete{
    display: flex;
    justify-content: center;
    background-color: #151515;

    width: 100vw;
    a{
        text-decoration: none;
        h1{
            padding: clamp(10px, 1.5vw, 100px);
            font-size: clamp(22px, 2vw, 50px);
            font-family: Belleza;
            color: white;
        }
    }

}