.MenuBurger{
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 19px;
    left: 0px;

    .burger{
        z-index: 20;
        padding-left: 4vw;
        width: 40px;
        div:nth-of-type(1){     
            width: 100%;
            height: 3px;
            background-color: #DE9E36;
            
            margin-bottom: 10px;
        }
        div:nth-of-type(2){    
            transition: 0.5s; 
            width: 100%;
            height: 3px;
            background-color: #DE9E36;
            
            margin-bottom: 10px;

            &.actif{
                width: 50%;
            }
        }
        
    }
    ul{
        z-index: 10;

        position: fixed;
        top: 0px;

        transition: 0.5s;

        transform: translateX(-105vw);

        padding-top: 60px;
        padding-left: 4vw;
        display: flex;
        flex-direction: column;
        
        height: 100vh;
        width: 100vw;

        background-color: #151515;

        a{
            text-decoration: none;
            color: white;

            margin-bottom: 20px;
            li{
                list-style: none;

                font-size: clamp(22px, 2.5vw, 40px);
            }
        }
    }
    .display{
        transform: translateX(0px);
    }

}