.Accueil{
    .banniere{
        height: 90vh;
        background-color: black;

        display: flex;
        flex-direction: column;
        .container{
            height: 33.3%;
            width: 100%;
        }
        .container:nth-of-type(1){
            background-image: url("../../img/contact.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
        .container:nth-of-type(2){
            background-image: url("../../img/gallerie.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 10% 30%;
        }
        .container:nth-of-type(3){
            background-image: url("../../img/gallerie2.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-position: 10% 70%;
        }
        .container{
            display: flex;
            flex-direction: column;
            justify-content: end;

            a{
                text-decoration: none;
            }

            .description{
                background-color: rgba(0, 0, 0, 0.685);
                color: white;
                width: 100vw;
                padding: 10px 0px;

                text-align: center;
                font-size: clamp(22px, 2vw, 50px);
                font-weight: 300;
            }
        }
    }
    .titre{
        background-color: #DE9E36;
        color: white;
        height: 60px;
        width: 100vw;

        display: flex;
        justify-content: center;
        align-items: center;

        h2{
            font-family: Belleza;
            font-weight: 1000;
            font-size: clamp(25px, 2.3vw, 50px);
        }
    }
    .texte{
        margin-left: 4vw;
        margin-right: 4vw;

        p{
            margin-bottom: 30px;
            font-size: clamp(19px, 1.5vw, 40px);
        }
    }

    .img{
        margin-top: 40px;
        margin-bottom: 20px;

        width: 100vw;
        height: 220px;
    }
    .a-propos{
        margin-top: 40px;
        
        .img{
       
            background-image: url("../../img/a-propos.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .menu{
        .img{
            
            background-image: url("../../img/menu2.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
        a{
            text-decoration: none;
            .bouton{
                font-family: Belleza;
                font-size: clamp(25px, 2.3vw, 50px);
    
                width: clamp(200px, 90vw, 500px);
                height: 60px;
                margin: 0px auto;
                background-color: black;
                color: white;
                
                display: flex;
                justify-content: center;
                align-items: center;
    
                border: 4px solid #DE9E36;
            }
        }
        
    }
}
@media only screen and (min-width: 700px){
    .Accueil{

        .banniere{
            height: 70vh;
            display: flex;
            flex-direction: row;
            background-color: rgba(0, 0, 0, 0);
            
            .container{
                width: 33.33%;
                height: 70vh;
                .description{
                    width: 33.33vw;
                }
            }
        }
            .img{
                width: 92vw;
                margin: 40px auto;
            }
    }

}
@media only screen and (min-width: 901px){
    .Accueil{
        .banniere{
            height: 80vh;
            .container{
                height: 80vh;
                .description{
                    padding: 1.5vw 0px;
                }
            }
        }
        .titre{
            width: 92vw;
            height: 4vw;
        }
        .contenue{
            display: flex;
            width: 96vw;
            .texte{
                margin-top: 40px;
                width: 50%;
            }
            .img{
                width: 50vw;
                height: 25vw;
            }
        }
        .a-propos{
            .titre{
                padding-left: 4vw;
                justify-content: start;

            }
            .contenue{
                flex-direction: row-reverse;
                
            }
        }
        .menu{
            width: 96vw;
            margin-left: auto;
            .titre{
                justify-content: end;
                padding-right: 4vw;
            }
            a{
                .bouton{
                    margin: 0px 0px;
                    width: 60%;
                    height: 20%;
                    border: 0.3vw solid #DE9E36;
                }
            }
        }

    }
}