*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
   
}
body{
    width: 100vw;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 10px;               
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(207, 157, 47);    
  }